.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #242526;

  &_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.281);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    &_input {
      width: 80%;
      height: 40px;
      margin-bottom: 20px;
      margin: 10px 1rem;
      padding: 10px;
      border: 2px solid #ffa31a59;
      border-radius: 5px;
      background: #242526;
      outline: none;
      color: #ccc;

    }

    &_input:disabled {
      background-color: #eee;
      cursor: not-allowed;
    }

    button {
      width: 80%;
      height: 40px;
      margin-top: 3rem;
      margin-bottom: 20px;
      border: none;
      border-radius: 5px;
      background-color: #ffa31a;
      color: #242526;
      font-size: 1.2rem;
      font-weight: 500;
      cursor: pointer;
    }

    &_input[type="submit"]:hover {
      background-color: #333;
    }

    &_input[type="submit"]:active {
      background-color: #666;
    }

    &_input[type="submit"]:disabled {
      background-color: #ccc;
      color: #666;
      cursor: not-allowed;
    }
  }
}

.register,
.forgot_pass {
  display: flex;
  align-items: center;
  color: #666;
  gap: 0.5rem;
  margin-top: 1rem;
  font-size: 1.1rem;

  &_link {
    font-weight: bold;
    color: #ffa31a;

    line-height: 1.4;
    cursor: pointer;
  }
}

.forgot_pass {
  span {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
